<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Find us here!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Address</h3>
      <address>
        76 9th Ave <br>
        New York accesskey <br>
        NY 10011 <br>
        <br>
        google.com <br>
        (212) 565-0000 <br>
      </address>
    </div>
    <div class="col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.921710601701!2d-74.00640808459406!3d40.741748179328596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf14f1f51f%3A0xcc1b5ab35bd75df0!2sGoogle!5e0!3m2!1sen!2sus!4v1477842913133" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
